<%- include('header') %>
        <h1>Codechef Labyrinth</h1>

        <% if(typeof alert != 'undefined') { %>
            <% alert.forEach(function(error) { %>
                    <%= error.msg %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
            <% }) %>
        <% } %>

        <h1>Answer Submited</h1>

<%- include('footer') %>