@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
 
* {
   margin: 0;
   padding: 0;
   font-family: "Poppins", "sans-serif";
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

canvas {
   position: fixed;
   top: 0;
   left: 0;
   display: block;
   background: #000; /* Set your desired background color */
   width: 100%;
   height: 100%;
   z-index: -1;
}


.wrapper {
   width: 420px;
   background: transparent;
   color: #fff;
   padding: 30px 40px;
   border-radius: 20px;
   border: 2px solid rgba(255, 255, 255, 0.2);
   backdrop-filter: blur(20px);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   z-index: 999;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}


 .wrapper h1 {
    font-size: 36px;
    text-align: center;
 }

 .wrapper .input-box{
    position:relative;
    width: 100%;
    height:50px;
    margin: 30px 0;
 }

 .input-box input{
    width:100%;
    height:100%;
    background:transparent;
    border:none;
    outline:none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    color:#fff;
    padding:20px 45px 20px 20px;
 }

 .input-box input::placeholder {
    color:#fff;
 }

 .input-box i{
    position: absolute;
    right:20px;
    top:50%;
    transform: translateY(-50%);
    font-size: 20px;
 }

.wrapper .btn {
     width:100%;
     height:45px;
     background:#fff;
     border:none;
     outline:none;
     border-radius:40px;
     box-shadow: 0 0 10px rgba(0,0,0,.1);
     cursor:pointer;
     font-size:16px;
     color:#333;
     font-weight:600;
     margin-top:20px;
}

@media (max-width: 768px) {
   .wrapper {
       width: 80%; /* Adjust the width to your preference */
       padding: 20px; /* Adjust the padding to your preference */
   }
}